section{ 
    width: 480px;
    height: 170px;
    border: 4px;
    margin: auto;

}
.col{ 
    background-color: rgba(107, 6, 6, 0.76);
    margin-bottom: 10px;
    border-style: solid;
    border-color: rgb(100, 100, 100);
    border-width: 4px;
}
.pic{
    background-image: url(../images/sm_nyc_banner.jpg);
    margin-bottom: 10px;
    border-style: solid;
    border-color: rgb(100, 100, 100);
    border-width: 4px;
}
.pic1{
    padding-top: 10px;
}
.pic2{
    background: url(../images/new.png) no-repeat right top , 
    url(../images/sm_nyc_banner.jpg);
    padding-top: 10px;
}
